include ../../blocks/kitchen-small/kitchen-small
include ../../blocks/kitchen-large/kitchen-large
include ../../banners/kitchen-set-banner/kitchen-set-banner
include ../../Ui-kit/kitchen-button/kitchen-button

mixin kitchen-set({className, version})

    case version
        when 'version-1'
            div(class=className ? `${className} kitchen-set`: `kitchen-set`)
                +kitchen-large({
                    className: 'kitchen-set__large-kitchen _anim-upwards'
                })
                +kitchen-small({
                    className: 'kitchen-set__small-kitchen _anim-upwards _anim-delay-300'
                })
                +kitchen-set-banner({
                    className: 'kitchen-set__banner _anim-upwards _anim-delay-400',
                    title: 'Выезд замерщика в удобное время'
                })
                +kitchen-small({
                    className: 'kitchen-set__small-kitchen _anim-upwards _anim-delay-500'
                })
                +kitchen-small({
                    className: 'kitchen-set__small-kitchen _anim-upwards _anim-delay-600'
                })
                +kitchen-small({
                    className: 'kitchen-set__small-kitchen _anim-upwards _anim-delay-700'
                })
                +kitchen-button({
                    className: 'kitchen-set__button-sticky',
                    text: "Рассчитать мой проект",
                    style: 'fill'
                })(data-popup-open='calc')
        when 'version-2'
            div(class=className ? `${className} kitchen-set`: `kitchen-set`)
                +kitchen-small({
                    className: 'kitchen-set__small-kitchen _anim-upwards'
                })
                +kitchen-large({
                    className: 'kitchen-set__large-kitchen kitchen-set__large-kitchen_row-start _anim-upwards _anim-delay-300'
                })
                +kitchen-set-banner({
                    className: 'kitchen-set__banner kitchen-set__banner_dark kitchen-set__banner_reverse _anim-upwards _anim-delay-400',
                    circleDirection: 'right',
                    title: 'Фиксированная стоимость доставки и сборки',
                })
                +kitchen-small({
                    className: 'kitchen-set__small-kitchen _anim-upwards _anim-delay-500'
                })
                +kitchen-small({
                    className: 'kitchen-set__small-kitchen _anim-upwards _anim-delay-600'
                })
                +kitchen-small({
                    className: 'kitchen-set__small-kitchen _anim-upwards _anim-delay-700'
                })
                +kitchen-button({
                    className: 'kitchen-set__button-sticky',
                    text: "Рассчитать мой проект",
                    style: 'fill'
                })(data-popup-open='calc')
        default
            div(class=className ? `${className} kitchen-set`: `kitchen-set`)
                +kitchen-large({
                    className: 'kitchen-set__large-kitchen _anim-upwards'
                })
                +kitchen-small({
                    className: 'kitchen-set__small-kitchen _anim-upwards _anim-delay-300'
                })
                +kitchen-set-banner({
                    className: 'kitchen-set__banner _anim-upwards _anim-delay-400'
                })
                +kitchen-small({
                    className: 'kitchen-set__small-kitchen _anim-upwards _anim-delay-500'
                })
                +kitchen-small({
                    className: 'kitchen-set__small-kitchen _anim-upwards _anim-delay-600'
                })
                +kitchen-small({
                    className: 'kitchen-set__small-kitchen _anim-upwards _anim-delay-700'
                })
                +kitchen-button({
                    className: 'kitchen-set__button-sticky',
                    text: "Рассчитать мой проект",
                    style: 'fill'
                })(data-popup-open='calc')
