mixin button({text, className, color, type='button'})
    case color
        when 'white'
            button&attributes(attributes)(class=className ? `${className} ${className}_white button button_white`: `button button_white`, type=type)=text
                block
        default
            button&attributes(attributes)(class=className ? `${className} button`: `button`, type=type)=text
                block
