mixin payment-popup({className, texts, title, footnote, dataClose})
    div(class=className ? `${className} payment-popup`: `payment-popup`)&attributes(attributes)
        .payment-popup__container
            button.payment-popup__close(data-poup-direct-close=dataClose)
            h4.payment-popup__title.h4=title
            each text in texts
                p.payment-popup__text.txt=text
            p.payment-popup__footnote.h4=footnote