include ../../Ui-kit/stars/stars
include ../../Ui-kit/video-button/video-button

mixin reviews-card({className, title, texts, stars, icon, date, name, button, video, image})
    div(class=className ? `${className} reviews-card`: `reviews-card`)
        if image
            img.reviews-card__image(src=`/assets/images/reviews/${image}`, alt="preview")
        h3.reviews-card__title.h3=title
        if texts
            each text in texts
                p.reviews-card__text.txt=text
        if video
            +video-button({
                className: 'reviews-card__video-button',
                text: 'Смотреть Видеоотзыв'
            })
        .reviews-card__info
            .reviews-card__author
                img.reviews-card__avatar(src=`/assets/images/reviews/${icon}`, alt="avatar")
                .reviews-card__author-name=name
                .reviews-card__date=date
            +stars({
                className: 'reviews-card__stars',
                quantity: stars,
            })
        if button
            button.reviews-card__button-project(type='button') Посмотреть проект